In [1]:
# Dependencies (just in case)
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
# Read in raw excel workbook
df = pd.read_excel('..//..//data/hospitals/hosp19_util_data_prelim.xlsx', sheet_name='Page 1-6')

#Drop un-needed row headings
df = df.drop([0, 1, 2, 3])

# Fill in all blanks with 0 (for deep learning)
df = df.fillna(0)

# Replace X with 1 (for deep learning)
df = df.replace("X", 1)

# Drop all coloumns that are still blank
df = df.dropna()

# Trim Zip codes to length of 5
df.FAC_ZIP = df.FAC_ZIP.str.split('-').str[0]
df.FAC_PAR_CORP_ZIP = df.FAC_PAR_CORP_ZIP.str.split('-').str[0].fillna(0)

# Reveiw results
df

,Description,FAC_NO,FAC_NAME,FAC_STR_ADDR,FAC_CITY,FAC_ZIP,FAC_PHONE,FAC_ADMIN_NAME,FAC_OPERATED_THIS_YR,FAC_OP_PER_BEGIN_DT,...,MEANS_FOR_ACQUISITION_01,MEANS_FOR_ACQUISITION_02,MEANS_FOR_ACQUISITION_03,MEANS_FOR_ACQUISITION_04,MEANS_FOR_ACQUISITION_05,MEANS_FOR_ACQUISITION_06,MEANS_FOR_ACQUISITION_07,MEANS_FOR_ACQUISITION_08,MEANS_FOR_ACQUISITION_09,MEANS_FOR_ACQUISITION_10
4,0,106010735,ALAMEDA HOSPITAL,2070 CLINTON AVE,ALAMEDA,94501,510-522-3700,Luis Fonseca,Yes,2019-01-01 00:00:00,...,Purchase,0,0,0,0,0,0,0,0,0
5,0,106010739,ALTA BATES SUMMIT MEDICAL CENTER-ALTA BATES CA...,2450 ASHBY AVENUE,BERKELEY,94705,(510)204-4444,"David D. Clark, FACHE",Yes,2019-01-01 00:00:00,...,Purchase,Purchase,0,0,0,0,0,0,0,0
6,0,106010776,UCSF BENIOFF CHILDREN'S HOSPITAL OAKLAND,747 52ND STREET,OAKLAND,94609,5104283000,Michael Anderson,Yes,2019-01-01 00:00:00,...,0,0,0,0,0,0,0,0,0,0
7,0,106010811,FAIRMONT HOSPITAL,15400 FOOTHILL BOULEVARD,SAN LEANDRO,94578,510-437-4800,Richard Esponoza,Yes,2019-01-01 00:00:00,...,0,0,0,0,0,0,0,0,0,0
8,0,106010844,ALTA BATES SUMMIT MEDICAL CENTER-HERRICK CAMPUS,2001 DWIGHT WAY,BERKELEY,94704,(510) 204-4065,John Cooper,Yes,2019-01-01 00:00:00,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,0,106580996,ADVENTIST HEALTH AND RIDEOUT,726 FOURTH ST,MARYSVILLE,95901,530-751-4300,"Richard Rawson, President",Yes,2019-01-01 00:00:00,...,0,0,0,0,0,0,0,0,0,0
478,0,206100718,COMMUNITY SUBACUTE AND TRANSITIONAL CARE CENTER,3003 NORTH MARIPOSA STREET,FRESNO,93703,559-459-1711,Ashishwar Prasad,Yes,2019-01-01 00:00:00,...,0,0,0,0,0,0,0,0,0,0
479,0,206274027,WESTLAND HOUSE,100 BARNET SEGAL LANE,MONTEREY,93940,831-624-5311,Andrea Fernandez,Yes,2019-01-01 00:00:00,...,0,0,0,0,0,0,0,0,0,0
480,0,206351814,HAZEL HAWKINS MEMORIAL HOSPITAL D/P SNF,900 SUNSET DRIVE,HOLLISTER,95023,8316351106,Ken Underwood,Yes,2019-01-01 00:00:00,...,0,0,0,0,0,0,0,0,0,0
481,0,0,n = 477,0,0,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
# Display results for EMR Visits
EMERVisits = df.iloc[:, 199:205]
EMERVisits

,EMS_VISITS_NON_URGENT_TOT,EMS_VISITS_URGENT_TOT,EMS_VISITS_MODERATE_TOT,EMS_VISITS_SEVERE_TOT,EMS_VISITS_CRITICAL_TOT,EMER_DEPT_VISITS_NOT_RESULT_ADMISSIONS_TOT
4,828,2300,5411,3106,2193,13838
5,504,4051,9507,14329,10726,39117
6,0,0,25430,4416,5539,35385
7,0,0,0,0,0,0
8,0,0,0,0,0,0
...,...,...,...,...,...,...
477,4934,4127,17916,36077,11710,74764
478,0,0,0,0,0,0
479,0,0,0,0,0,0
480,0,0,0,0,0,0
481,0,0,0,0,0,0

In [4]:
# Add coloumn for total visits
df['Target'] = df['EMS_VISITS_NON_URGENT_TOT'] / df['EMER_DEPT_VISITS_NOT_RESULT_ADMISSIONS_TOT']

In [5]:
df[['Target','EMER_DEPT_VISITS_NOT_RESULT_ADMISSIONS_TOT']]

       Target  EMER_DEPT_VISITS_NOT_RESULT_ADMISSIONS_TOT
4    0.059835                                       13838
5    0.012884                                       39117
6    0.000000                                       35385
7         NaN                                           0
8         NaN                                           0
..        ...                                         ...
477  0.065994                                       74764
478       NaN                                           0
479       NaN                                           0
480       NaN                                           0
481       NaN                                           0

[478 rows x 2 columns]

In [6]:
# Display results & stats
df[['Target']].mean()

Target    0.03457
dtype: float64

In [7]:
# Create label if Target is over the average of all targets
df['Label'] = df['Target'] >= 0.03457

In [8]:
# Display results
df[['EMS_VISITS_NON_URGENT_TOT','EMS_VISITS_URGENT_TOT','EMS_VISITS_MODERATE_TOT','EMS_VISITS_SEVERE_TOT','EMS_VISITS_CRITICAL_TOT','EMER_DEPT_VISITS_NOT_RESULT_ADMISSIONS_TOT','Label']]

,EMS_VISITS_NON_URGENT_TOT,EMS_VISITS_URGENT_TOT,EMS_VISITS_MODERATE_TOT,EMS_VISITS_SEVERE_TOT,EMS_VISITS_CRITICAL_TOT,EMER_DEPT_VISITS_NOT_RESULT_ADMISSIONS_TOT,Label
4,828,2300,5411,3106,2193,13838,True
5,504,4051,9507,14329,10726,39117,False
6,0,0,25430,4416,5539,35385,False
7,0,0,0,0,0,0,False
8,0,0,0,0,0,0,False
...,...,...,...,...,...,...,...
477,4934,4127,17916,36077,11710,74764,True
478,0,0,0,0,0,0,False
479,0,0,0,0,0,0,False
480,0,0,0,0,0,0,False
481,0,0,0,0,0,0,False

In [12]:
# Output CSV for deep learning
df.to_csv('..\\..\\data\hospitals\All_Hospitals.csv', index=False)

In [ ]:
# Create numeric dataset for correlations
# correlations_df = df[['FAC_ZIP','PHYSICIAN_ENC_BY_PRIM_CARE_PROVIDER','PHYSICIAN_ASSIST_ENC_BY_PRIM_CARE_PROVIDER','FAM_NURSE_ENC_BY_PRIM_CARE_PROVIDER','VISIT_NURSE_ENC_BY_PRIM_CARE_PROVIDER','PSYCHIATRIST_ENC_BY_PRIM_CARE_PROVIDER','MENTAL_DISORDERS_ENC','SYMPTOMS_SIGNS_ILLDEFINED_CONDITIONS_ENC','Target']].astype(float)
# correlations_df.dtypes

In [ ]:
# View are assumed strong correlations
# correlations = correlations_df.corr()
# f, ax = plt.subplots(figsize = (20, 20))
# sns.heatmap(correlations, annot = True, linewidths=.5)